.education {
  width:40%;
  flex-wrap: wrap;
  padding: 4%;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(95, 86, 107, 0.349);}

  p {
    color: #010105;
    text-decoration: none;
  }
  .name{
    text-transform: uppercase;
    font-weight: bold;
  }
  